.mainContainer {
  display: flex;
  flex-direction: column;
}

.articleContainer {
  display: flex;
  max-width: 1140px;
  width: 100%;
  margin: auto;
}

.halfSection {
  width: 50%;
  padding: 50px;
  background: white;
}

.halfSection ul {
  margin-left: 0;
}

.imageSection {
  padding: 0;
  position: relative;
}

.halfImage {
  margin-bottom: 0;
}

.imageSection:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  background: linear-gradient(rgba(79, 45, 143, 0), rgba(79, 45, 143, 1));
}

.candidatePhoto {
  background: url("../img/atKonw.jpg");
  background-size: cover;
  background-position: right;
  min-height: 450px;
  margin-right: 40px;
}

.wiosnaPhoto {
  background: url("../img/atWiosna.jpg");
  background-size: cover;
  background-position: center;
  min-height: 450px;
  margin-right: 40px;
}

.prioritiesPhoto {
  background: url("../img/earth.jpg");
  background-size: cover;
  background-position: center;
  min-height: 450px;
  margin-left: 50px;
}

.photoWithRB {
  background: url("../img/atRb.jpg");
  background-size: cover;
  background-position: center;
  min-height: 450px;
  margin-left: 50px;
}

.button {
  display: inline-block;
  padding: 12px;
  margin-top: 10px;
  background: rgb(244, 129, 32);
  color: white;
  /* text-align: center; */
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  transition: 200ms;
}

.button:hover {
  opacity: 0.8;
}

.spacerSection {
  background: #4f2d8f;
  /* text-align: center; */
  /* font-style: italic; */
  letter-spacing: 0.3px;
  display: flex;
  justify-content: center;
}

.spacerSection blockquote p {
  font-weight: bold;
}

.spacerSection > div {
  max-width: 1140px;
  width: 100%;
  margin: 0 120px;
  padding: 80px 40px;
  font-size: 20px;
  color: white;
  position: relative;
}

.spacerSection img {
  position: absolute;
  height: 80%;
  opacity: 0.3;
  right: 0;
  bottom: -8%;
  margin-bottom: 0;
}

.spacerSection > div::before {
  content: url("../img/quote.svg");
  position: absolute;
  left: 0;
  top: 0;
  width: 238px;
}

.spacerSection blockquote {
  margin: 0;
  position: relative;
  z-index: 1;
}

.spacerSection cite {
  position: relative;
  z-index: 1;
}

.halfSection ul {
  /* list-style: none; */
  margin-left: 18px;
}

/* .halfSection .readAll {
  color: #4f2d8f;
} */

/* .halfSection ul li:before {
  content: url("../img/wiosnaCheck.svg");
  width: 24px;
  height: 24px;
  margin-right: 20px;
  display: inline-block;
} */

.decoLine {
  display: inline-block;
  width: 100px;
  height: 1px;
  margin: 2px 0 0 15px;
  background: black;
  position: relative;
  top: -4px;
}

.bioContainer {
  padding: 20px;
}

.fullBioPhoto {
  margin: 0;
}

.fullBioPhoto figcaption {
  opacity: 0.7;
}

.fullBioPhoto img {
  max-width: 400px;
  width: 100%;
  margin: 0;
}

.fullBioPhotoL {
  float: left;
  margin-right: 20px;
}

.fullBioPhotoR {
  float: right;
  margin-left: 20px;
}

.hHighlight {
  color: white;
  background: rgb(244, 129, 32);
  padding: 5px;
  display: inline-block;
  position: relative;
}

/* .hHighlight:after {
  content: "";
  display: block;
  position: absolute;
  height: 24px;
  left: -10%;
  right: -10%;
  bottom: -11px;
  background-color: rgb(244, 129, 32);
  opacity: 0.25;
} */

.longTextContainer {
  max-height: 0;
  overflow: hidden;
  transition: 2000ms;
}

.longtTextShow {
  max-height: 2200px;
}

.rotateScroller90 {
  display: inline-block;
  position: relative;
  left: 8px;
  top: 2px;
  transform: rotate(90deg);
}

.rotateScroller270 {
  display: inline-block;
  position: relative;
  left: 4px;
  top: 2px;
  transform: rotate(270deg);
}

.plansContainer {
  padding: 20px;
}

.plansContainer h4 {
  cursor: pointer;
}

@media (max-width: 750px) {
  .fullBioPhoto {
    float: none;
    margin-bottom: 20px;
    /* text-align: center; */
  }
}

@media (max-width: 700px) {
  .articleContainer {
    flex-direction: column;
  }

  .spacerSection > div {
    margin: 0 20px;
  }

  .halfSection {
    width: 100%;
    order: 1;
    padding: 40px 20px;
  }

  .imageSection {
    order: 2;
    margin: 0;
  }

  .fullBioPhotoL {
    margin-right: 0;
  }

  .fullBioPhotoR {
    margin-left: 0;
  }
}
