.mainContainer {
  display: flex;
  flex-direction: column;
}

.articleContainer {
  display: flex;
  max-width: 1140px;
  width: 100%;
  margin: auto;
}

.halfSection {
  width: 50%;
  padding: 40px;
  background: white;
}

.imageSection {
  padding: 0;
  position: relative;
}

.halfImage {
  margin-bottom: 0;
}

.imageSection:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  background: linear-gradient(rgba(79, 45, 143, 0), rgba(79, 45, 143, 1));
}

.candidatePhoto {
  background: url("../img/atKonw.jpg");
  background-size: cover;
  background-position: right;
  min-height: 450px;
}

.wiosnaPhoto {
  background: url("../img/atWiosna.jpg");
  background-size: cover;
  background-position: center;
  min-height: 450px;
}

.prioritiesPhoto {
  background: url("  https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/54407585_411818889650946_5573755497275719680_o.jpg?_nc_cat=107&_nc_ht=scontent-waw1-1.xx&oh=d216f03eb5da787c1b3857ef3acd3736&oe=5D4C0C34");
  background-size: cover;
  background-position: center;
  min-height: 450px;
}

.photoWithXx {
  background: url("../img/atXx.jpg");
  background-size: cover;
  background-position: center;
  min-height: 450px;
}

.button {
  display: inline-block;
  padding: 12px;
  background: rgb(244, 129, 32);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  transition: 200ms;
}

.button:hover {
  opacity: 0.8;
}

.spacerSection {
  background: #4f2d8f;
  text-align: center;
}

.spacerSection blockquote p {
  font-weight: bold;
}

.spacerSection > div {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 40px;
  font-size: 22px;
  color: white;
  position: relative;
}

.spacerSection img {
  position: absolute;
  height: 80%;
  opacity: 0.3;
  right: 0;
  bottom: -8%;
  margin-bottom: 0;
}

.spacerSection blockquote {
  margin: 0;
}

.halfSection ul {
  list-style: none;
}

.halfSection ul li:before {
  content: url("../img/wiosnaCheck.svg");
  width: 24px;
  height: 24px;
  margin-right: 5px;
  display: inline-block;
}

.fullBioPhoto {
  display: block;
  margin: 20px auto;
  height: 300px;
  max-width: 100%;
}

.hHighlight {
  color: rgb(244, 129, 32);
  display: inline-block;
  position: relative;
}

.hHighlight:after {
  content: "";
  display: block;
  position: absolute;
  height: 24px;
  left: -10%;
  right: -10%;
  bottom: -11px;
  background-color: rgb(244, 129, 32);
  opacity: 0.25;
}

.longTextContainer {
  max-height: 0;
  overflow: hidden;
  transition: 2000ms;
}

.longtTextShow {
  max-height: 2200px;
}

.rotateScroller90 {
  display: inline-block;
  position: relative;
  left: 8px;
  top: 2px;
  transform: rotate(90deg);
}

.rotateScroller270 {
  display: inline-block;
  position: relative;
  left: 4px;
  top: 2px;
  transform: rotate(270deg);
}

.plansContainer {
  padding: 20px;
}

.plansContainer h4 {
  cursor: pointer;
}

@media (max-width: 700px) {
  .articleContainer {
    flex-direction: column;
  }

  .halfSection {
    width: 100%;
    order: 1;
    padding: 40px 20px;
  }

  .imageSection {
    order: 2;
  }
}
